<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

  </head>
  <style>
  #red_background{
      background: #FCE2A8;
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 400px;
    }
  </style>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



    <div class="row">
      <div id="player_name" class="col-xs-5 col-sm-3"><center>
          <img src="/img/user.png" alt="Smiley face" width="25" height="25">       <%=session[:tester]%>
        </center>
      </div>
      <div id="coin_display" class="col-xs-4 col-sm-2"><center><img src="/img/coin.png" alt="Smiley face" width="25" height="25"><%= @@coins[session[:tester]] %></center></div>
      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div id="gem_display" class="col-xs-2 col-sm-2" onclick="refillEnergy()"><center><img src="/img/gem.png" alt="Smiley face" width="25" height="25"><%=@@gems[session[:tester]]%></center></div>
    </div>
    <!-- <h1>Records</h1> -->


 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">

              <b><center><font size="5pt">Congratulations!</br> You have earned</font></center></b>
            </br>
              <center><font size="4pt"> <img src="/img/coin.png" alt="Smiley face" width="22" height="22"> <font size="3pt"><span class="glyphicon glyphicon-remove"></font> 100</font></center>
            </br>
                <!-- <div class="col-xs-4 col-sm-5"><center>Level <%=@@level[session[:tester]]%></center></div>
                <div class="col-xs-8 col-sm-6"> 
                  <div class="progress">
                    <div class="progress-bar progress-bar-info active"  role="progressbar" aria-valuenow="<%=@@progress[session[:tester]]%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@@progress[session[:tester]]%>%">
                     <span class="sr-only"><%=@@progress[session[:tester]]%>% Complete</span>
                    </div>
                  </div> 
                </div>  -->
            </br>




      </br></br></br></br>
      <form class="form-horizontal" role="form" action="finish_choose" method="post">
    <center><button type="submit" class="btn btn-success btn-block">OK</button></center>
  </form>

        </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
