
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

    <style>
    

    .coins_font{
      color: #FFA500;
      font-size: 20pt;
      display : inline-block;
    }
    .my-container{
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: rgba(255,255,255,.0);
          border: 1px dashed rgba(0,0,0,.4);
          max-width: 600px;
          margin-left:0px;
      }
      #shufflebtn{
        display : inline-block;
      }
      #questionid{
        display : inline-block;
      }
    #timesleftbig{
      font-size: 12pt;
      color: #737373;
      padding-left: 10px;
    }
    #shufflebtn{
      display: inline-block;
    }
    #timesleft{
      display: inline-block;
      font-size: 15pt;
    }
    #questionid{
      padding-right: 10px;
    }
    #coinicon{
      display: inline-block;
    }

    #messagebtn{
      background: #f8e4e5;
      border-width: 0px;
    }

    #red_background{
      background: #f8e4e5;
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 400px;
    }
    #rangeid{
      width: 250px;
    }

/*    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 33px;
        height: 33px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fefefe),
            color-stop(0.49, #dddddd),
            color-stop(0.51, #d1d1d1),
            color-stop(1, #a1a1a1)
        );
        background-repeat: no-repeat;
        background-position: 50%;
    }*/

    input[type='range']::-webkit-slider-thumb {
        /*-webkit-appearance: none;*/
        width: 33px;
        height: 33px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fefefe),
            color-stop(0.49, #dddddd),
            color-stop(0.51, #d1d1d1),
            color-stop(1, #a1a1a1)
        );
        background-repeat: no-repeat;
        background-position: 50%;
    }

    #bettingleftid{
      display: inline-block;
    }

    #modalbody{
      text-align: left;
    }
    </style>

     <script type="text/JavaScript">
    //<![CDATA[
    //global variables

    priceOfUnlock = 5;
    function questionObj(option0btnid, option1btnid, formid){
       this.option0btn = document.getElementById(option0btnid);
       this.option1btn = document.getElementById(option1btnid);
       this.myform = document.forms[formid];
       var obj = this;
       obj.option0btn.onclick = function(){obj.btnClicked(0);}
       obj.option1btn.onclick = function(){obj.btnClicked(1);}
    }
    questionObj.prototype.btnClicked = function(option){
       var obj = this;
       obj.option0btn.disabled = true;
       obj.option1btn.disabled = true;
       if(option == 0){
          obj.myform.answer.value = obj.option0btn.innerHTML;
       } else {
          obj.myform.answer.value = obj.option1btn.innerHTML;
       }
       obj.myform.submit();
    }
    //]]>
    </script>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container">


   <div class="row">
    <div id="player_name" class="col-xs-5 col-sm-3" onclick="backtohome()"><center>
        <img src="/img/user.png" alt="Smiley face" width="25" height="25">       <%=session[:tester]%>
      </center>
    </div>
    <div id="coin_display" class="col-xs-4 col-sm-2"><center><img src="/img/coin.png" alt="Smiley face" width="25" height="25"><div id="coinicon"><%= @@coins[session[:tester]] %></div></center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="gem_display" class="col-xs-2 col-sm-2" onclick="refillEnergy()"><center><img src="/img/gem.png" alt="Smiley face" width="25" height="25"><%=@@gems[session[:tester]]%>
    </center>
    </div>
    <form id="homeform" class="form-horizontal" role="form" action="home" method="post" visibility="hidden"></form>
  </div>


        <script type="text/JavaScript">
        //<![CDATA[
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
           //]]>
        </script>


  <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">

     <div class="col-xs-7 col-sm-8">
     <center><button class="btn btn-warning" id="shufflebtn"><span class="glyphicon glyphicon-random"></span> Shuffle Question <img src="/img/coin.png" alt="Smiley face" width="22" height="22">30</button></font> 

      <div id="timesleftbig"><div id="timesleft">3</div> times left</div>
    </div>
                  
     </center>



      </br></br></br>
              <div class="col-xs-3 col-md-4"></div>
              <div class="col-xs-2 col-md-1">
                <%if session[:choose] == 1%>
                   <b><font size="5pt" color="#fffc00" >1</font></b>
                <%else%>
                   <font size="5pt" color="#FFFFFF" >1</font>
                <%end%>
              </div>
              <div class="col-xs-2 col-md-1">
                <%if session[:choose] == 2%>
                   <b><font size="5pt" color="#fffc00" >2</font></b>
                <%else%>
                   <font size="5pt" color="#FFFFFF" >2</font>
                <%end%>
              </div>        
              <div class="col-xs-2 col-md-1">
                <%if session[:choose] == 3%>
                   <b><font size="5pt" color="#fffc00" >3</font></b>
                <%else%>
                   <font size="5pt" color="#FFFFFF" >3</font>
                <%end%>
              </div>
</br></br>

 <div class="col-xs-12 col-sm-12"><center><font size="5pt">
  <div id="questionid"><%=session[:question]%></div>
</div>


                <form id="nextform" role="form" action="choose_answer" method="post">   
                  <input type="hidden" name="question" value="<%=session[:question]%>"> 
                  <input type="hidden" name="betting" value="0"> 
                </br></br></br>
                 <div class="col-xs-6 col-md-6">
                  <p><button type="submit" id="option0btn" class="btn btn-info btn-lg btn-block" name="answer" value="<%=session[:option0]%>"><%=session[:option0]%></button></p>
                 </div>
                 <div class="col-xs-6 col-md-6">
                    <p><button type="submit" id="option1btn" class="btn btn-info btn-lg btn-block" name="answer" value="<%=session[:option1]%>"><%=session[:option1]%></button></p>
                </div>
              <center>
                    </form>
              </br>
                
              <font color="#4169e3" size="3pt">
              Your bet <img src="/img/chip.png" alt="Smiley face" width="22" height="22"> <span id="range">0</span>
              <button id="messagebtn" class="btn" data-toggle="modal" data-target="#myModal">
                  <img src="/img/question.png" alt="Smiley face" width="25" height="25">
              </button>
              <input id="rangeid" type="range" min="0" max="<%=session[:bettingleft]%>" value="0" step="10" onchange="showValue(this.value,<%=session[:bettingleft]%>)" />
            </font>
            
              
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
        <div id="modalbody">
        <font size="4pt" color="#767676">Feel free to place your bet on each question!</br></br>
        You will receive <b>2x</b> of your bet when the next person guesses your answer correctly!</font>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function showValue(newValue, bettingleft)
{
  var bettingleft = parseInt(bettingleft);
  document.getElementById("range").innerHTML=newValue;
  var myform = document.forms["nextform"];
  myform.betting.value = newValue;
}
</script>


      <script type="text/JavaScript">
                 //<![CDATA[
                    var myform = document.forms["nextform"];
                    var shufflebtn = document.getElementById("shufflebtn");
                    var questionele = document.getElementById("questionid");
                    var coinele =  document.getElementById("coinicon");

                    var timesleftele = document.getElementById("timesleft");
                    var costPerShuffle = 30;

                    shufflebtn.onclick = function(){
                        var coinsNum = parseInt(coinele.innerHTML);
                        if(coinsNum < costPerShuffle){
                          alert("sorry... not enough coins...");
                          return;
                        }

                        coinsLeft = coinsNum - costPerShuffle;
                        coinele.innerHTML = coinsLeft.toString();

                        timesleft = parseInt(timesleftele.innerHTML);
                        timesleft = timesleft - 1;
                        if (timesleft == 0){
                          timeleftbigele = document.getElementById("timesleftbig");
                          timeleftbigele.parentNode.removeChild(timeleftbigele);
                          shufflebtn.style.visibility = 'hidden';
                        }else{
                          timesleftele.innerHTML = timesleft.toString();
                        }
                        var myXHR = new XMLHttpRequest();
                        myXHR.open("POST", "/shuffle_question" + "?oldq=" + questionele.innerHTML + "&coinsLeft=" + coinele.innerHTML);
                        myXHR.onreadystatechange = function() {
                             if (this.readyState != 4) {
                                return;
                             }
                             if (this.status == 200) {
                                questionele.innerHTML = this.responseText;
                                myform.question.value = questionele.innerHTML;
                                console.log(questionele.innerHTML);
                                return;
                             } else {
                               console.log("error occurred!");
                             }
                         }
                         myXHR.send();
                    }
                 //]]>
      </script>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
