<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CF 2.0</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

    <style type="text/css">
    #timesleftbig{
      padding-left: 5pt;
      color: #737373;
      font-size: 12pt;
    }
    #shufflebtn, #timesleft{
      display: inline-block;
    }
    #timesleft{
      font-size: 15pt;
    }
    #coinicon{
      display: inline-block;
    }

    #red_background{
      background: #f8e4e5;
      border-radius: 5px;
      height: 100px;
      margin-top: 7px;
      margin-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 12pt;
      min-width: 306px;
      max-width: 653px;
      min-height: 400px;
    }
    </style>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

  <!-- <h1>Records</h1> -->

   <div class="row">
    <div id="player_name" class="col-xs-5 col-sm-3" onclick="backtohome()"><center>
        <img src="/img/user.png" alt="Smiley face" width="25" height="25">       <%=session[:tester]%>
      </center>
    </div>
    <div id="coin_display" class="col-xs-4 col-sm-2"><center><img src="/img/coin.png" alt="Smiley face" width="25" height="25"><div id="coinicon"><%= @@coins[session[:tester]] %></div></center></div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div id="gem_display" class="col-xs-2 col-sm-2" onclick="refillEnergy()"><center><img src="/img/gem.png" alt="Smiley face" width="25" height="25"><div id="gemnum"><%=@@gems[session[:tester]]%></div>
    </center>
    </div>
  </div>

      <form id="homeform" class="form-horizontal" role="form" action="home" method="post">
      </form>
       <script type="text/JavaScript">
        //<![CDATA[
        function backtohome(){
          var homeform = document.forms["homeform"];
          homeform.submit();
        }
           //]]>
        </script>

  <!-- <h1>Records</h1> -->

 <div class="row">
    <div id="red_background" class="col-xs-11 col-md-7">


            <b><center><font size="5pt">Comparing...</font></center></b>
          </br>
            <center><font size="5pt"><div id="option0"><%=@initial_first%></div></font></center>
            <center><font size="3pt" color="gray">vs</font></center>
            <center><font size="5pt"><div id="option1"><%=@initial_second%></div></font></center>
          </br>
            <center><button id="shufflebtn" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-random"></span>      <img src="/img/coin.png" alt="Smiley face" width="22" height="22">30</button>    
              <div id="timesleftbig"><div id="timesleft">3</div> times left</div>
            </center>
            
              </br></br></br></br>
              <form id="people_form" class="form-horizontal" role="form" action="choose_answer" method="post">
                  <input type="hidden" name="option0" value=""> 
                  <input type="hidden" name="option1" value=""> 

            <center><button type="submit" class="btn btn-info btn-block">Next <span class="glyphicon glyphicon-chevron-right"></span></button></center>
          </form>
      </div>
  </div>




      <script type="text/JavaScript">
                 //<![CDATA[
                    var myform = document.forms["people_form"];
                    var option0ele = document.getElementById("option0");
                    var option1ele = document.getElementById("option1");
                    var shufflebtn = document.getElementById("shufflebtn");
                    var coinele =  document.getElementById("coinicon");
                    var timesleftele = document.getElementById("timesleft");
                    myform.option0.value = option0ele.innerHTML;
                    myform.option1.value = option1ele.innerHTML;
                    var player = "<%=session[:tester]%>";
                    var myNames = [<%= @@names.map { |some_id| '"' + some_id.to_s + '"' }.join(", ") %>];
                    var costPerShuffle = 30;

                    console.log(myNames[0]);
                    shufflebtn.onclick = function(){
                        var coinsNum = parseInt(coinele.innerHTML);
                        if(coinsNum < costPerShuffle){
                          alert("sorry... not enough coins...");
                          return;
                        }
                        do {
                          var new_option0 = myNames[Math.floor(Math.random()*myNames.length)];
                        } while (new_option0 == player);
                        do {
                          var new_option1 = myNames[Math.floor(Math.random()*myNames.length)];
                        } while (new_option1 == player || new_option1 == new_option0);
                        option0ele.innerHTML = new_option0;
                        option1ele.innerHTML = new_option1;
                        myform.option0.value = option0ele.innerHTML;
                        myform.option1.value = option1ele.innerHTML;
                        coinsLeft = coinsNum - costPerShuffle;
                        coinele.innerHTML = coinsLeft.toString();

                        timesleft = parseInt(timesleftele.innerHTML);
                        timesleft = timesleft - 1;
                        if (timesleft == 0){
                          timeleftbigele = document.getElementById("timesleftbig");
                          timeleftbigele.parentNode.removeChild(timeleftbigele);
                          shufflebtn.style.visibility = 'hidden';
                        }else{
                          timesleftele.innerHTML = timesleft.toString();
                        }

                        var myXHR = new XMLHttpRequest();
                        myXHR.open("POST", "/shuffle_people" + "?tester=" + player + "&coinsLeft=" + coinele.innerHTML);
                        myXHR.onreadystatechange = function() {
                             if (this.readyState != 4) {
                                return;
                             }
                             if (this.status == 200) {
                                return;
                             } else {
                               console.log("error occurred!");
                             }
                         }
                         myXHR.send();
                    }
                 //]]>
      </script>
      <!-- FOOTER -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
