
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Compare Friends</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
  </head>
  <body>
    <center>
      <div style="height:10px;"></div>
    <div id="heart1" class="pull-right">
      <img src="/img/heart.jpg" alt="Smiley face" width="20" height="16"> x <%=@player.blood%>
    </div>
    <div style="height:100px;"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <font size="5pt">
          <%=@question%>
        </font>
      </div>
    </div>
    <br><br><br>
    <form role="form" action="guess" method="post">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-info btn-lg btn-block" name="answer" value="<%=@options[0]%>"><%=@options[0]%></button>
        </div>
        <div class="col-xs-6 col-md-6">
          <button class="btn btn-info btn-lg btn-block" name="answer" value="<%=@options[1]%>"><%=@options[1]%></button>
        </div>  
      </div>
    </form> 
    <br>
    </center>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>    
  </body>
</html>
